@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

body{
	background-image: url("https://png.pngtree.com/background/20210712/original/pngtree-cute-hand-drawn-style-math-education-blue-plaid-background-picture-image_1176978.jpg");
    margin-top: 50px;
    background-size: cover;
}

h1{
    font-size: 60px;
    font-family: 'Anton', sans-serif;
    margin-bottom: 10px;
}
.login_div1 , .login_div2{
    background: rgb(255, 255, 255);
	padding: 10px;
	float: none;
	border-radius: 15px;
    font-size: 24px;
    margin: 10px;
}

#player1_name , #player2_name{
	display: inline-block;
	margin-left: 20px;
    font-size: 30px;
    background-color: darkkhaki;
    font-weight: bolder;
}

span{
    font-size: 30px;
    background-color: darkkhaki;
    font-weight: bolder;
}

#word{
	width: 60%;
}

#word_display{
	letter-spacing: 5px;
}

#output{
background: white;
border-radius: 10px;
border-top: 10px solid #AA4465;
padding: 10px;
float: none;
text-align: left;
}

.button{
    font-size: 20px;
}
